# Extract data from source to datalake

In this exercise, we will extract data from datasource, which is MySQL server database called `classicmodels`, and load the extracted into datalake. We will process those data later exercises.

![Data Model](https://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

The extracted data should be located at `s3a://datalake/classicmodels/<table_name>.parquet`.

In [ ]:
from pyspark.sql import DataFrame

def load_table_df(table_name) -> DataFrame:
    return (
        spark
            .read
            .format("jdbc")
            .option("driver", "com.mysql.jdbc.Driver")
            .option("url", "jdbc:mysql://localhost/classicmodels")
            .option("dbtable", table_name)
            .option("user", "root")
            .option("password", "")
            .load()
    )

## productlines table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/productlines.parquet")

In [ ]:
assert row_count == 7, "Productlines was not loaded complete"

## products table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/products.parquet")

In [ ]:
assert row_count == 110, "Products was not loaded complete"

## offices table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/offices.parquet")

In [ ]:
assert row_count == 7, "Offices was not loaded complete"

## employees table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/employees.parquet")

In [ ]:
assert row_count == 23, "Employees was not loaded complete"

## customers table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/customers.parquet")

In [ ]:
assert row_count == 23, "Employees was not loaded complete"

## payments table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/payments.parquet")

In [ ]:
assert row_count == 273, "Employees was not loaded complete"

## orders table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/orders.parquet")

In [ ]:
assert row_count == 273, "Employees was not loaded complete"

## orderdetails table

In [ ]:
# Code here

In [ ]:
row_count = spark.read.format("parquet").load("s3a://datalake/exercises/classmodels/orderdetails.parquet")

In [ ]:
assert row_count == 273, "Employees was not loaded complete"