In [ ]:
spark

# Explore data models

As from the data models, we will try to analyze the insight from the data using Spark Data Frame API.

![Data Models](https://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

# Problems to analyze

In [ ]:
from pyspark.sql import DataFrame
from pyspark.sql import functions as F

#### Helper function to load data frame

In [ ]:
def load_data(table_name: str) -> DataFrame:
    return (
        spark
        .read
        .format("parquet")
        .load(f"s3a://datalake/exercises/bronze/classicmodels/{table_name}.parquet")
    )

#### Load essential models to analyze and cache

In [ ]:
# customers
customers = load_data("customers").cache()

# offices
offices = load_data("offices").cache()

# employees
employees = load_data("employees").cache()

# orders
orders = load_data("orders").cache()

# payments
payments = load_data("payments").cache()

# orderdetails
orderdetails = load_data("orderdetails").cache()

# products
products = load_data("products").cache()

# productlines
productlines = load_data("productlines").cache()

### Customer with the highest credit limit

**Proof check**: Ensure that the table contains unique customer

In [ ]:
assert customers.select(F.col("customer_name")).distinct().count() == customers.count(), "customers table may contains duplicate records"

In [ ]:
(
    customers
    .sort(F.col("credit_limit").desc())
    .limit(1)
    .select(
        F.col("customer_name"),
        F.col("credit_limit"),
    ).show(truncate=False)
)

### Customers with the highest spending in year

In [ ]:
x = (
    customers
    .join(payments, "customer_number", "inner")
    .select("customer_number", "customer_name", "payment_date", "amount")
    .withColumn("payment_date", F.to_date(F.col("payment_date")))
    .withColumn("payment_year", F.year(F.col("payment_date")))
    .withColumn("payment_year_month", F.date_format(F.col("payment_date"), "yyyyMM"))
)

In [ ]:
x.show(truncate=False)

In [ ]:
(
    x
    .groupby("payment_year", "customer_number")
    .agg(F.sum("amount").alias("year_amount"))
)

### Customer with the highest spending in month

In [ ]:
# CODE HERE

### Customer with the highest spending in all time

In [ ]:
# CODE HERE

### Average customer spending

In [ ]:
# CODE HERE

### Average customer spending in year

In [ ]:
# CODE HERE

### The number of offices

In [ ]:
# CODE HERE

### The number of employees in offices

In [ ]:
# CODE HERE

#### Question: Is there an office without employees

In [ ]:
# CODE HERE

### Office with the highest number of employees

In [ ]:
# CODE HERE

### Product has the highest number of orders

In [ ]:
# CODE HERE

### Product has the highest value in sale

In [ ]:
# CODE HERE